.google-search-container{
  width:350px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  padding:20px;
  background-color:transparent;
}
.google-search{
  width:280px;
  padding:5px;
}
#googleSearchButton{
width:50px;
}


